<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body style="background-color: #f0f8ff">
        <center>{% block form %} {% endblock %}</center>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
