{% extends 'base.html.twig' %}
{% block title %} Logowanie {% endblock %}
{% block form %}
<div class="container">
    <div class="form-group">
        <h3 style="margin-top: 50px">Wprowadź swój nick</h3>
        <form method="POST" action="{{ path('chat') }}">
            <input type="text" class="form-control" placeholder="Nazwa użytkownika" name="nickname" style="width: auto"><br>
            <button class="btn btn-dark" type="submit">Zatwierdź</button>
        </form>
    </div>
</div>
{% endblock %}
